/* latin */
@font-face {
    font-family: "VT323";
    font-style: normal;
    font-weight: 400;
    src: url(assets/VT323.ttf)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: "Verdana";
}

#root {
    background-image: linear-gradient(
        25deg,
        #fff 0%,
        #eef 50%,
        #fff 100%
    );
}

#query {
      box-shadow: 0 0 40px 40px #fff8;

}

.searchQuery {
    background-color: #fff;
    padding: 10px;
    border-width: 0px;
    border-bottom-width: 5px;
    border-bottom: #115;
    border-style: solid;
}

*:link {
    text-decoration: none;
}

*:link:hover {
    text-decoration:underline;
}


h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

.sfont {
    font-family: "VT323", sans-serif;
    font-weight: bold;
    font-size: larger;
}

.smallLogo {
    font-size: 2.5em;
}

.searchQuery > * {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

html,
body,
div#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

input {
    border-radius: 2em;
    border-style: solid;
    border-width: 2px;
    border-color: #115;
    padding: 0.5em 1em;
    font-size: larger;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    transition-duration: 300ms;
    color: #115;
}

.mainSearch:hover,
.mainSearch:focus,
.querySearch:hover,
.querySearch:focus {
    background-color: #ddf;
    border-color: white;
    transition-duration: 0ms;
}

.button {
    background-color: #22a;
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-width: 3px;
    width: fit-content;
    border-radius: 5px;
    border-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition-duration: 200ms;
}

.button:hover {
    border-color: #5ae;
    border-radius: 20px 5px 20px 5px;
    -webkit-border-radius: 20px 5px 20px 5px;
    -moz-border-radius: 20px 5px 20px 5px;
    -ms-border-radius: 20px 5px 20px 5px;
    -o-border-radius: 20px 5px 20px 5px;
    transition-duration: 0ms;
}

.mainSearch {
    margin: 20px;
}

.multicolorlight {
    background-image: linear-gradient(to bottom, #5ae, #24e, #22a, black);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.multicolordark {
    background-image: linear-gradient(to bottom, white,#5ae);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}

.albot {
    margin-top: auto;
    margin-bottom: 0;
}

.altop {
    margin-bottom: auto;
    margin-top: 0;
}

.vflex {
    display: flex;
    flex-direction: column;
}

.hflex {
    display: flex;
    flex-direction: row;
}

.topbar,
.botbar {
    background-color: #115;
    color: white;
    padding: 10px 10px;
}

.flcenter {
    justify-content: space-evenly;
}

.fgrow {
    flex-grow: 1;
}

.center {
    margin: auto;
}

.tcenter {
    text-align: center;
}

.searchResults {
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    row-gap: 10px;
}

.result * {
    overflow-wrap: break-word;
}

.resultUrl {
    font-size: 0.8em;
}

.resultTitle {
    font-size: 1.2em;
}

.resultTitle:not(:visited) {
    color:#5ae;
}

.resultTitle:visited {
    color:#115;
}

.pagination {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    margin: 20px;
}

.page {
    padding: 10px;
    background-color: #115;
    color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.page.current {
    background-color: #22a;
    color: white;
}

.page.dots {
    background-color:#11001155;
    cursor: default;
}

.page.back,
.page.next {
    background-color: rgba(0, 104, 130, 0.5);

}

.page.back:hover,
.page.next:hover {
    background-color: rgb(0, 104, 130, 0.8);

}